# Created by https://www.toptal.com/developers/gitignore
### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

myvenv/
.env
.vscode/
.idea/
*.sqlite3
*.pyc
*.pyo
*.pyd
*.pyz
*.pyw

profil/profil/settings.py
