.modal-container {
  width: 90%; /* Уменьшаем ширину для мобильных устройств */
  max-width: 90%; /* Уменьшаем максимальную ширину для мобильных устройств */
  padding: 1rem; /* Увеличиваем отступы */
  top: 50%; /* Позиционируем по вертикали по центру экрана */
  left: 50%; /* Позиционируем по горизонтали по центру экрана */
  transform: translate(-50%, -50%); /* Центрируем модальное окно */
  border-radius: 0; /* Убираем скругления углов */
}

.close-button {
  top: 5px; /* Перемещаем кнопку закрытия ближе к верхнему краю */
  right: 5px; /* Перемещаем кнопку закрытия ближе к правому краю */
}

.modal-handle {
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 0; /* Убираем скругления углов */
}

/* Добавляем стили для перетаскиваемой области */
.modal-handle {
  cursor: move;
}

/* Увеличиваем размер шрифта и отступы элементов внутри модального окна */
.modal-container input[type="text"] {
  width: 100%; /* Ширина на 100%, чтобы занимать всю доступную ширину */
  margin-top: 1.5rem; /* Увеличиваем отступ сверху */
  margin-bottom: 1.5rem; /* Увеличиваем отступ снизу */
}

.modal-container button {
  font-size: 1.2rem; /* Увеличиваем размер шрифта кнопок */
  padding: 1rem 1.5rem; /* Увеличиваем отступы вокруг текста кнопок */
}
